@import "/node_modules/modern-normalize/modern-normalize.css";

@font-face {
    font-family: 'goudy_bookletter_1911regular';
    src: url('/resources/fonts/woff_files/goudybookletter1911-regular-webfont.woff2') format('woff2'),
         url('/resources/fonts/woff_files/goudybookletter1911-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grenze_gotischregular';
    src: url('/resources/fonts/woff_files/grenzegotisch-variablefont_wght-webfont.woff2') format('woff2'),
         url('/resources/fonts/woff_files/grenzegotisch-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ryeregular';
    src: url('/resources/fonts/woff_files/rye-regular-webfont.woff2') format('woff2'),
         url('/resources/fonts/woff_files/rye-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'schoolbellregular';
    src: url('/resources/fonts/woff_files/schoolbell-regular-webfont.woff2') format('woff2'),
         url('/resources/fonts/woff_files/schoolbell-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ================= END OF RESET */

:root {
    --mauve: #733C4A;
    --forrest: #253D40;
    --sage: #627369;
    --charcoal: #0D0D0A;
    --gold: #A6783F;
    --chesnut: #592C1C;
    --brown: #331F15;
    --off-white: #f1f1f1;
}

body {
    background: var(--mauve);
    padding: 0;
    margin: 0;
}

h1 {
    color: var(--charcoal);
    font-family: 'ryeregular';
    justify-self: center;

}
/* ================= SHELF */
#shelf {
    background-color: var(--brown);
    border-bottom: 16px solid var(--brown);
    border-top: 16px solid var(--chesnut);
    box-shadow: inset 0px -60px var(--chesnut),
    inset 0px -80px 50px #0d0d0a78,
    0px 10px 10px #0d0d0a78;
    display: flex;
    align-items: flex-end;
    height: 300px;   
    justify-content: center;
    padding-bottom: 12px;
    gap: 14px;
    width: 100vw;
}

/* ================= CARDS */
.card {
    background-color: var(--sage);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 
        /* pages */
        2px -1px #f1f1f1,
        3px -2px var(--charcoal),
        4px -3px #f1f1f1,
        5px -4px var(--charcoal),
        6px -5px #f1f1f1,
        7px -6px var(--charcoal),
        8px -7px #f1f1f1,
        9px -8px var(--charcoal),
        10px -9px #f1f1f1, 
        11px -10px var(--charcoal),
        /* END pages */
        /* book spine */
        inset 50px 0px 0 -34px var(--forrest),
        inset 55px 0px 0 -34px var(--gold),
        0px -3px var(--forrest),
        1px -4px var(--forrest),
        2px -5px var(--forrest),
        3px -6px var(--forrest),
        4px -7px var(--forrest),
        5px -8px var(--forrest),
        6px -9px var(--forrest),
        7px -10px var(--forrest),
        /* END book spine */
        4px 4px 4px 4px #0d0d0ab6;
    color: var(--charcoal);
    height: 220px;
    width: 220px;
    padding: 0 6px 0 26px;;
}

.card > * {
    text-align: center;
    width: 100%;
}

.card > :first-child {
    font-family: 'grenze_gotischregular';
    font-size: 1.5em;
    font-weight: 500;
}

.card > :nth-child(2){
    font-size: 1.1em;
}

.card > :nth-child(n+2) {
    font-family: 'goudy_bookletter_1911regular';
}

.card > div > :first-child {
    background-color: var(--mauve);
    border: 2px outset var(--mauve);
    border-radius: 4px;
    margin-right: 8px;
    width: 60px
}

.card > div > :first-child:hover,
.card.read > div > :first-child:hover,
.card > div > :nth-child(2):hover,
#addForm:hover {
    background-color: var(--forrest);
    border: 2px solid var(--forrest);
    opacity: 50%;
}

.card.read > div > :first-child {
    background-color: var(--gold);
    border: 2px inset var(--gold);
}

.card > div > :nth-child(2){
    background-color: var(--mauve);
    border: 2px outset var(--mauve);
    border-radius: 4px;
}

.card > div > :nth-child(2):active {
    background-color: #0d0d0a87;
    border: 2px inset #0d0d0a87;
}

/* ================= DESK */
#desk {
    background-color: var(--chesnut);
    border-bottom: 16px solid var(--brown);
    border-top: 1px solid var(--brown);
    box-shadow: 0px 10px 10px #0d0d0a78;
    display: flex;   
    justify-content: space-between;
    margin-bottom: 24px;
    position: relative;
    width: 100vw;
}

/* ================= ACTION */

#desk > div {
    width: 300px;
}

#addForm {
    color: var(--charcoal);
    background-color: var(--gold);
    border: 2px outset var(--gold);
    border-radius: 4px;
    box-shadow: 4px 4px 4px #0d0d0a78;
    font-family: 'goudy_bookletter_1911regular';
    margin: 24px 52px;
    height: 56px;
    width: 60px;
}

#addForm:active {
    border: 2px inset var(--gold);
}

#action {
    background-color: var(--chesnut);
    display: flex;
    flex-direction: column;
    order: 2;
    position: relative;
    height: 150px;
    margin-top: 20px;
    width: 300px;
    z-index: -1;
}

#action.open {
    z-index: 999;
}

#action > div {
    background-color: var(--off-white);
    border-radius: 4px;
    box-shadow: 6px 6px 6px #0d0d0ab6;
    color: var(--charcoal);
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 10px;
    width: 300px;
}

#action > div > p {
    font-size: 1.4em;
    border-bottom: 2px solid var(--charcoal);
    letter-spacing: .1em;
    margin-bottom: 0;
    padding-bottom: 6px;
    text-align: center;
    width: 100%;
}

#msgCont div {
    border-bottom: 1px solid var(--charcoal);
    display: flex;
    align-items: end;
    height: 32px;
    padding-bottom: 4px;
}

#msgCont div > :first-child {
    display: inline-block;
    letter-spacing: .08em;
    padding-left: 18px;  
    width: 86px;
}

#msgCont > p {
    padding-left: 18px;
    font-size: 1.1em;
}

#msgCont > div span {
    font-size: 1.1em;
}

#removeTitle,
#removeAuthor {
    font-family: 'schoolbellregular';
    letter-spacing: .1em;
}

#btnCont {
    border-bottom: 2px solid var(--charcoal);
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

#yes,
#no {
    font-size: 1.1em;
    border: 4px solid var(--off-white);
    border-radius: 44%;
    width: 72px;
}

#yes:hover,
#no:hover,
#addBookFormBtns > *:hover {
    border: 4px solid #f6ff00;
}

#addBookDiv {
    background-color: var(--chesnut);
    display: flex;   
    justify-content: center;
    order: 3;
    padding: 20px;
    height: 100%;
}

#addBookDiv.open {
    order: 1;
}

#addBookForm {
    background-color: var(--off-white);
    border: 1px solid var(--charcoal);
    border-radius: 4px;
    box-shadow: inset 51px 0px 0 -34px var(--off-white),
    inset 52px 0px 0 -34px red,
    inset 53px 0px 0 -34px var(--off-white),
    inset 54px 0px 0 -34px red,
    6px 6px 6px #0d0d0ab6;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .1em;
    padding-left: 20px;
    width: 248px;
    z-index: -1;
}

#addBookForm.open {
    z-index: 999;
}

#addBookForm p {
    border-bottom: 3.4px double red;
    font-size: 1.2em;
    padding-left: 4px;
    margin: 24px 0 24px 0;
}

input[type='number']{
    border: none;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#addBookForm > label,
#addBookForm input,
#readStatus,
#addBookFormBtns {
    height: 26px;
    border-top: 1px solid blue;
}

input[type='text'] {
    border: none;
    font-family: 'schoolbellregular';
    font-size: 1.2em;
    padding-left: 4px;
}

label {
    padding-left: 4px;
    padding-top: 4px;
}

#readStatus {
    border-bottom: 1px solid blue;
    display: flex;
    align-items: bottom;
    gap: 16px;
}

#readStatus > div {
    display: flex;
    align-items: center;
    gap: 6px;
}

#addBookFormBtns {
    display: flex;
    border-bottom: 1px solid blue;
    gap: 16px;
    justify-content: center;
    letter-spacing: 0.1em;
    margin: 24px 0 24px 0;
}

#addBookFormBtns > * {
    border: none;
    border-radius: 44%;
    height: 100%;
    width: 72px;
}

/* To do
1. card greyed out when remove button is clicked
2. cards are shuffled based on author surname
*/